*{
    font:14px/36px 'Arial', 'Microsoft Yahei';
    text-decoration: none;
    color:#333;

}
a{
    margin: 0;

    padding: 0;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#toolbar{
    widows: 100%;
    height:36px;
    border-bottom: 1px solid #ddd;
}
.toolbar_auto{
    width: 1190px;
    height: 36px;
    margin: 0 auto;
    /* border: 1px solid red;   */
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
}
.toolbar_auto .left{
    display: flex;
    /* line-height: 36px; */
}
.toolbar_auto .left div:first-child{
    width: 103px;
    height: 36px;
    padding-right: 20px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.toolbar_auto .left div:first-child span{
   
    width: 14px;
    height: 14px;
    margin-right: 5px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    background: url(../image/header/toolbar.png);
    background-position: 0px 0px;
}
.toolbar_auto .left div:nth-child(2){
    width: 70px;
    height: 36px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.toolbar_auto .left div:nth-child(2) span:first-child{
    width: 9px;
    height: 15px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    background: url(../image/header/toolbar.png);
    background-position: -31px 0px;
    margin-right: 5px;
}
.toolbar_auto .right ul{
    display: flex;
    width: 338px;
    height:36px;
    /* border: 1px solid red; */
    line-height: 36px;
}
.toolbar_auto .right ul li{
    /* width: 28px;
    height:15.556px; */
    padding:0px 10px 0 10px;
    display: flex;
    align-items: center;
}
.toolbar_auto .right ul li:last-child a{
    margin-left: 10px;
   
}

.toolbar_auto .right ul li:last-child span{
    width: 15px;
    height:13px; 
    /* border: 1px solid red; */
    background: url(../image/header/toolbar.png);
    background-position: -59px 0px;
   
}
#header{
    width: 100%;
    height:130px;
    /* text-align: center; */
    /* border:1px solid red; */
    
    overflow: hidden;
}
.top_auto{
    width: 1190px;
    height:100px;
    padding: 15px 0px 15px 0;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.top_search{
    width:600px;
    height:61px;
    margin-left:34px;
}
#top_search_submit{
    display: flex;
}
.top_search_recommend{
    width:600;
    height:100px;
    background: wheat;
    z-index: 1001;
}
#top_search_submit input:first-child{
    width: 494px;
    height:26px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #e53;
    outline:none;   
}
#top_search_submit input:last-child{
    width: 80px;
    height:42px;
    border: 3px solid #e53;
    outline:none; 
    background:#e53;  
    color: #fff;
}
.top_right{
    margin-left:130px;
}
#nav{
    width:100%;
    height: 36px;
    /* border:1px solid red; */
    background:#e53;
    /* overflow: hidden; */
    
}
.nav_auto{
    width: 1190px;
    height:36px;
    /* border:1px solid red; */
    margin:0 auto;
    display: flex;
    
}
.nav_left{
    width:170px;
    height:36px;
    padding: 0 10px;;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c20;  
} 
.nav_left a{
    font:16px/36px "Microsoft YaHei";
    color: #fff;
}
.nav_left span{
    width: 16px;
    height:10px;
    /* border:1px solid red; */
    background: url(../image/header/toolbar.png);
    background-position: 0px -21px;
    
}
.nav_center{
    width:784px;
    height: 36px;
    /* border:1px solid red; */
    display: flex;
}
.nav_center a{
    /* display:inline-block; */
    /* width:32px; */
    height: 36px;
    padding:0 17px;
    /* border:1px solid red; */
    font:16px/36px "Microsoft YaHei";
    color: #fff;
}
.shop_left{
    width:142px;
    height:36px;
    /* border:1px solid red; */
    box-sizing: border-box;
}
.shop_c{
    width:128px;
    height:36px;
    padding-left: 10px;
    /* background:2 solid #c20; */
    border-bottom: none;
    display: flex;
    align-items: center;
    background: #c20;
    overflow: hidden;
}
.shop_text{
    width: 73px;
    height:36px;
    display: flex;
    align-items: center;
    
    
}
.shop_text a{
    font:16px/36px "Microsoft YaHei";
    color: #fff;
}
.shop_text span{
    width:20px;
    height:19px;
    margin-right: 5px;
    /* border:1px solid red; */
    background: url(../image/header/toolbar.png);
    background-position: -31px 59px;
    
}
.shop_c>span{
    width:25px;
    height:36px;
    padding: 0 15px;
    /* border:1px solid red; */
    text-align: center;
    font:16px/36px "Microsoft YaHei";
    color: #fff;
}
.active{
    background: #9a0000;
}
.shop_cart{
    width: 298px;
    height:164px;
    border:3px solid red;
    z-index: 1001;
    position: relative;
    left: -164px;
    display: none;

}